@page
@model Security.Pages.HumanResource
@{
    ViewData["Title"] = "HumanResource";
}

<h1>@ViewData["Title"]</h1>

<div class="text-center">
    <h1 class="display-4">Human Resource</h1>
    Welcome to Human Resource
</div>